interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://inforintelligence.com/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n\n  <head>\n\n     <!-- Global\
        \ site tag (gtag.js) - Google Analytics -->\n     <script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-114802732-1\"\
        ></script>\n     <script>\n       window.dataLayer = window.dataLayer || [];\n\
        \       function gtag(){dataLayer.push(arguments);}\n       gtag('js', new\
        \ Date());\n\n       gtag('config', 'UA-114802732-1', { 'anonymize_ip': true\
        \ });\n     </script>\n\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\"\
        \ content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n   \
        \ <meta name=\"description\" content=\"Using military grade machine learning\
        \ algorithms, we turn big data into valuable intelligence. We help surface\
        \ potential partnerships, create market insights and discover new opportunities.\
        \ Rely on smart algorithms for important strategic decisions.\">\n    <meta\
        \ name=\"keywords\" content=\"partnership, B2B, collaboration, technology\
        \ scouting, Innovation, Open innovation, external innovation, competitor analysis,\
        \ landscape, startup sourcing, big data\"\n    <meta name=\"author\" content=\"\
        \">\n\n    <title>InForIntelligence | Next generation strategic decisionmaking\
        \ for corporates</title>\n\n    <!-- Bootstrap core CSS -->\n    <link href=\"\
        vendor/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\">\n    <link rel=\"\
        stylesheet\" type=\"text/css\" href=\"css/MyFontsWebfontsKit.css\"/>\n\n \
        \   <!-- Custom fonts for this template -->\n    <link href=\"vendor/font-awesome/css/font-awesome.min.css\"\
        \ rel=\"stylesheet\" type=\"text/css\">\n\n    <!-- Custom styles for this\
        \ template -->\n    <link href=\"css/grayscale.css\" rel=\"stylesheet\">\n\
        \n    <link rel=\"icon\" t[...]
